{# Component builders #}

{% macro navbar(config) %}
    <nav class="navbar {{ 'navbar-inverse' if config.inverse else 'navbar-default' }} {{ 'navbar-static-top' if config['stuck-top'] }}" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#inscription-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            {% if config.title %}
                <a class="navbar-brand" href="#">{{ config.title }}</a>
            {% endif %}
            </div>
            <div class="collapse navbar-collapse" id="inscription-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">{{ config.elements[0] }}</a></li>
                {% for element in config.elements[1:] %}
                    <li><a href="#">{{ element }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
{% endmacro %}

{% macro button(content, type='default', size='') %} <button type="button" class="btn btn-{{ type }} {{ size }}">{{ content }}</button> {% endmacro %}

{% macro button_group(buttons) %}
    <div class="btn-group">
    {% for button in buttons %}
        {{ button(button.attr.content, button.attr.type) }}
    {% endfor %}
    </div>
{% endmacro %}

{% macro jumbotron(heading, subheading, buttontype, buttoncontent) %}
    <div class="jumbotron">
        <h1>{{ heading }}</h1>
        <p>{{ subheading }}</p>
        {{ button(buttoncontent, buttontype) }}
    </div>
{% endmacro %}

{% macro tile(float=None) %}
    <a href="#" class="thumbnail {{ 'pull-right' if float == 'right' }} {{ 'pull-left' if float == 'left' }}">
      <img data-src="holder.js/200x40%/sky" alt="img">
    </a>
{% endmacro %}

{% macro tile_row() %}
    <div class="row">
        {{ tile(float = 'left')}}
        {{ tile(fload = 'right')}}
    </div>
{% endmacro %}


{# Command mapper #}
{% macro components(div) %}
    {% for component in div.components %}
        {% if component.type == 'btn-group' %}
            {{ button_group(component.attr.buttons) }}
        {% elif component.type == 'jumbotron' %}
            {{ jumbotron(component.attr.header, component.attr.subheader, component.attr['button-type'], component.attr['button-content']) }}
        {% elif component.type == 'thumbnail-row' %}
            {{ tile_row() }}
        {% endif %}
    {% endfor %}
{% endmacro %}