{% import 'build.html' as build %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Inscription {{ identifier }}</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/{{ identifier }}.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#inscription-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Scribe. Pure creation.</a>
                </div>
                <div class="collapse navbar-collapse" id="inscription-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div>
                {{ build.jumbotron('Hello World!', 'I\'m a demo.', buttoncontent='Get started.') }}
                {{ build.tile_row() }}
            </div>
        </div>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/holder/2.3.0/holder.min.js"></script>
    </body>
</html>